/* console-printer */

.console-printer {
  position: absolute;
  width: 100%;
  top: 0;

  .console {
    list-style: none;

    li {
      color: #666;

      &.warn {
        background: orange;
      }

      &::after {
        content: '';
        display: block;
        height: 5px;
        margin-bottom: 15px;
        border-bottom: dotted 1px $grey;
      }
    }

    .console-label {
      font-family: 'Proxima Nova Bold';
    }

    .console-object {
      color: blue;
      font-family: Monaco;
    }
  }
}